<a href="https://colab.research.google.com/github/afmjarif/Basic-Programming-Lab-With-Python-for-Beginners/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HEllow world")
print("Welcome to pythan")

HEllow world
Welcome to pythan

In [ ]:
name= "jarif"
age= 21
city= "Dhaka"

print(name)
print(age)
print(city)

jarif
21
Dhaka

In [ ]:
name= input("Enter your name:")
print("Hello", name)

Enter your name:jarif
Hello jarif

In [ ]:
age= int(input("Enter your age:"))
print("age:",age)

Enter your age:12
age: 12

In [ ]:
name=input("Enter your name:")
sid=input("enter your ID:")
age=input("enter your age:")
print("Name:",name)
print("ID",sid)
print("Age:",age)

Enter your name:karior
enter your ID:21
enter your age:21
Name: karior
ID 21
Age: 21

In [ ]:
number= int(input("Enter a number:"))

if number%2==0:
  print("Even")
else:
  print("Odd")

Enter a number:3
Odd

In [ ]:
age= int(input("enter your age:"))
if age>=18:
  print("Adult")
else:
  print("Minor")

enter your age:21
Adult

In [ ]:
marks=int(input("enter marks:"))
if marks>=80:
  print("A")
elif marks>=60:
  print("B")
elif marks>=50:
  print("C")
elif marks>=40:
  print("D")
else:
  print("F")

enter marks:90
A

In [ ]:
password=input("Enter password")
if password=="afmjarif1234":
  print("Login successful")
else:
  print("Wrong password")

Enter passwordafmjariof
Wrong password

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
total=0
for i in range(1,5):
  total+=i
print("sum=",total)

sum= 10

In [ ]:
num=int(input("enter a number:"))

for i in range(1,11):
  print(num,"x",i,"=",num*i)

enter a number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
count=0
while count <= 10:
  print(count)
  count += 1

0
1
2
3
4
5

In [ ]:
secret=9
guess=0
while guess != secret:
  guess=int(input("enter ypur guesss:"))
print("correct!")

enter ypur guesss:5
enter ypur guesss:9
correct!

In [ ]:
text = input("Enter text: ")
print(len(text))
print(text)
print(text[::-1])

Enter text: anis
4
anis
sina

In [ ]:
count=0
for ch in text:
  if ch in "aeiouAEIOU":
    count+=1
print("Vowels:", count)

Vowels: 7

In [ ]:
word = input("Enter word:")
if word == word[::-1]:
    print("Palindrome")
else:
  print("Not Palindrome")

Enter word:sojgsjg
Not Palindrome

In [ ]:
numbers=[10,20,30,40,50]
print("List=",numbers)

numbers.append(50)
numbers.remove(20)
print("List=",numbers)
print(max(numbers))
print(min(numbers))

List= [10, 20, 30, 40, 50]
List= [10, 30, 40, 50, 50]
50
10

In [ ]:
def greet():
  print("Hello students")
greet()

Hello students

In [ ]:
def add(a,b):
  return a+b
print(add(5,3))

8

In [ ]:
def is_prime(n):
  if n <=1:
    return False
  for i in range(2, n):
    if n%i==0:
      return False
    return Ture
  print(is_prime(7))

In [ ]:
student = {
"name": "jarif",
"marks": 85
}
print(student["name"])
print(student["marks"])

jarif
85

In [ ]:
for key, value in student.items():
  print(key,":",value)

name : jarif
marks : 85

In [ ]:
phonebook = {}
phonebook["jarif"] = "01839301167"
phonebook["Next"] = "01575827658"
print(phonebook)

{'jarif': '01839301167', 'Next': '01575827658'}